{% extends "admin/change_form.html" %}
{% block content %}

<div style="background: #FDEFFF; padding: 20px; padding-right: 20%">
{% if original %}
<h1>Fonkel wijzigen</h1>
<p>
  Hieronder kun je deze fonkel wijzigen.
<p>
{% comment %}
<form action="/publish/" method="POST">
  <input type="submit" value="Publiceer deze fonkel"/>
  <input type="hidden" name="fonkel" value="{{ original.id }}"/>
  {% csrf_token %}
</form>
{% endcomment %}
</p>
{% else %}
<h1>Maak een nieuwe fonkel</h1>
<p>
  Een fonkel is <b>een vierkant plaatje van 500 bij 500 pixels</b> met daarop een tekst. Een handige dienst om plaatjes te ontwerpen is <a href="http://www.picmonkey.com/">PicMonkey</a>. Kies hier eerst voor “edit photo” waarna je een plaatje kunt uploaden. Crop daarna het plaatje tot een vierkant (Basic Edits → Crop → Square). Vervolgens kun je met de “Text” tool de tekst erop zetten. Je kunt de uiteindelijke fonkel downloaden met de “save”-knop.
</p>
<p>
  Hieronder kun je de gemaakte fonkel uploaden. Ook moet je een type fonkel selecteren en de tekst opgeven die in de fonkel staat. Nieuwe fonkels verschijnen automatisch onderaan de lijst. Je kunt de volgorde veranderen door boven de lijst op “Volgorde veranderen” te klikken.
</p>
{% endif %}

</div>
{{ block.super }}
{% endblock %}
