{% load static %}
<!doctype html>
<html>
  <head>
    <title>
      {% block title %}Wereld Ontdooien - Elke dag een nieuwe fonkel!{% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width"/>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="{% static 'icon.jpg' %}"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css"/>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div class="outer">
      <div class="header">
        <img src="{% static 'wereldontdooien.png' %}"/>
      </div>
      {% block content %}
      {% endblock %}
      <div class="footer">
        <p>
          Wereld Ontdooien is een project van<br/>
          <a style="color:#DA4392" href="http://www.wereldontdooisters.nl/">De Wereldontdooisters</a><br/>
          in samenwerking met<br/>
          <a style="color:#009F1E" href="http://www.returntothesource.nl/">Return to the Source</a>.
        </p>
      </div>
    </div>
    <script src="{% static 'jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'jgestures.min.js' %}"></script>

    <script>
      // For iOS: do not allow links to pass through, since they break out of the bookmarked app.
      var gotoLink = function(event) {
        event.preventDefault();
        location.href = event.target.href;
      };
      var anchors = document.getElementsByTagName("a");
      for (var i=0; i<anchors.length; i++) {
        anchors[i].addEventListener("click", gotoLink);
      }
      
      // Swiping
      $('.fonkel').bind('swipeone',swipe);
      function swipe(type, options) {
        var direction = options.delta[0].lastX;
        if(direction > 0) {
          //left
          var linkLeft = $("#link_previous")[0];
          if (linkLeft) location.href = linkLeft.href;
        } else {
          //right
          var linkRight = $("#link_next")[0];
          if (linkRight) location.href = linkRight.href;
        }
      }
    </script>
  </body>
</html>
