{% extends "base.html" %}

{% block content %}

<div class="nav" style="float:left">
  {% if previous %}
  <a href="{{ previous.get_absolute_url }}">Vorige</a>
  {% endif %}
</div>

<div class="nav" style="float:right">
  {% if next %}
  <a href="{{ next.get_absolute_url }}">Volgende</a>
  {% endif %}
</div>

<div class="nav">
  <a href="/verrassing?not={{ current.id }}">Verras me!</a>
</div>


<img width="100%" height="100%" alt="{{ current.tekst }}" src="{{ current.afbeelding.url }}" />

{% endblock %}
