{% extends "base.html" %}
{% load static %}

{% block extrahead %}

<script>
function checkKey(e) {

    e = e || window.event;

    if (e.keyCode == '37') {
        window.location = "{{ previous.get_absolute_url }}";
    }
    else if (e.keyCode == '39') {
        window.location = "{{ next.get_absolute_url }}";
    }
}

function pastelColors(){
    var r = (Math.round(Math.random()* 127) + 127).toString(16);
    var g = (Math.round(Math.random()* 127) + 127).toString(16);
    var b = (Math.round(Math.random()* 127) + 127).toString(16);
    return '#' + r + g + b;
}

document.onkeydown = checkKey;
document.write("<style>div.fonkel { background:" + pastelColors() + ";</style>");
</script>

{% endblock %}

{% block content %}

<div class="fonkel">
  <img width="500" height="500" alt="{{ current.tekst }}" src="{{ current.afbeelding.url }}" />

  {% if previous %}
  <div class="previous nav">
    <a id="link_previous" href="{{ previous.get_absolute_url }}"><img src="{% static 'previous.png' %}"/>Vorige</a>
  </div>
  {% endif %}
  
  {% if next %}
  <div class="next nav">
    <a id="link_next" href="{{ next.get_absolute_url }}">Volgende<img src="{% static 'next.png' %}"/></a>
  </div>
  {% endif %}

</div>

<div class="random">
  <a href="/verrassing?not={{ current.id }}">Verras me!</a>
</div>

{% endblock %}
