{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="fonkel" style="width: 600px; padding:25px">
  <div style="font-size: 1.25em;font-family:serif;text-align:left">
    Hallo Lieve Wereldbewoners,<br><br>

    Binnenkort lanceren wij Wereldontdooisters op deze website ons nieuwste project: Wereld Ontdooien!<br><br>
    
    Wereld Ontdooien ligt van af dat moment ook in jouw handen, want wij doen je elke dag een Fonkel cadeau om je eigen hart en dat van je medemens ontdooien. Hou je hart dus nog even vast, want het duurt niet lang meer voordat alle fans van de <a href="https://www.facebook.com/DeWereldontdooisters">Wereldontdooisters op Facebook</a> een uitnodiging voor de officiële launchparty krijgen!
  </div>
</div>
  
{% endblock %}
