body, html {
    margin: 0;
    padding: 0;
    background: url("/static/behang.jpg");
    height: 100%;
    font-family: sans;
}

div.outer {
    background: rgba(255,255,255,0.5);
    box-shadow: inset 0 0 400px rgba(255,255,255,0.9);
    min-height: 100%;
    text-align: center;
}

div.header {
    padding: 20px 0;
}

div.header > img {
    max-width: 100%;
}

div.fonkel {
    position: relative;
    display: inline-block;
    max-width: calc(98% - 32px);
    padding: 20px;
    border: 2px solid #321e18;
    border-radius: 20px;
}

div.fonkel > img {
    display: block;
    border-radius: 10px;
}

@media (max-width: 600px) {
    div.fonkel > img {
      box-sizing: border-box;
      max-width: 100%;
      height: auto;
    }
}
div.nav {
    position: absolute;
    top: 45%;
    opacity: 0.8;
}

div.nav img {
    vertical-align: middle;
    margin: 10px;
}

div.nav a:link, div.nav a:visited, div.random a:link, div.random a:visited {
    color: #321e18;
    text-decoration: none;
    font-family: sans;
    font-weight: bold;
}

div.previous {
    left: -160px;
}

div.next {
    right: -160px;
}

div.random {
    display: none;
}

div.footer {
    margin-top: 2em;
    padding-bottom: 1em;
    font-family: serif;
    font-style: italic;
    opacity: 0.5;
    font-size: 0.8em;
}

div.footer a {
    font-size: 1.25em;
}

@media all and (max-width: 800px) {
    div.outer {
        padding: 0 2%;
    }
    div.header {
        padding: 2% 0px;
    }
    div.fonkel {
        max-width: calc(96% - 4px);
        padding: 2%;
    }
    div.nav {
        top: 100%;
        font-size: .8em;
    }
    div.random {
        font-size: .8em;
    }
    div.nav img {
        width: 12px;
    }
    div.previous {
        left: 0;
    }
    div.next {
        right: 0;
    }
}