{% extends "admin/change_list.html" %}
{% load i18n %}

{% block content %}
<div style="background: #FDEFFF; padding: 20px; padding-right: 20%">
  <h1>Toekomstige Fonkels</h1>
  <p>
    Dit is de “queue” met fonkels die klaarstaan voor publicatie. Elke nacht om 4:00 zal het systeem de bovenste fonkel uit deze lijst verplaatsen naar de gepubliceerde fonkels. Zorg dat er altijd een voorraadje fonkels om te publiceren is!
  </p>
  <p>
    <b>De automatische nachtelijke publicatie is geactiveerd! Kijk maar eens bij <a href="http://wereldontdooien.nl/beheer/wereldontdooien/publishedfonkel/">de gepubliceerde fonkels</a></b>
  </p>
</div>

{{ block.super }}
{% endblock %}

{% block object-tools-items %}
<li>
  <a href="./sort/">{% trans 'Change Order' %}</a>
</li>
{{ block.super }}
{% endblock %}
